<div class="card-session">
  <div>
    <h2>Session : <%=session.date.hour%> - <%=session.date.hour + (session.duration * 60) %></h2>
    <p><%= session.game_type %> - Mininum players : <%= session.minimum_players %></p>
  </div>
  <div>
    <div>
    </div>
    <div>
    </div>
  </div>
</div>
