<div class="autocomplete">
 <p>coucou</p>
 <p>coucou</p>
 <p>coucou</p>
 <p>coucou</p>
 <p>coucou</p>
 <p>coucou</p>
 <p>coucou</p>
 <p>coucou</p>
 <p>coucou</p>
 <p>coucou</p>
 <p>coucou</p>
 <p>coucou</p>
 <p>coucou</p>

<%results.forEach do |address| %>
<%= address %>
<% end %>
</div>
