<div>
  <div>
      <%# playground picture   %>
      <h1>COUCOU LES AMIS <%= playground.name %></h1>
  </div>
  <div class="card-session">
    <div>
    </div>
    <div>
      <div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
