<div>
  <div>
     <%= playground.name %></h1>
     <%= %>
  </div>
  <div class="card-session">
    <div>
    </div>
    <div>
      <div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
