<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12">
     <%= render "playgrounds/search_bar"%>

      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-localisation-value="<%= @localisation %>">
      </div>
    </div>
  </div>
</div>
