<h1>Playgrounds#index</h1>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 my-3">
    <%= render "playgrounds/search_bar"%>
    </div>
  </div>
</div>
