// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$bluegood1: #0A196A;
$bluegood2: #102387;
$blueggod5: #5B6BC3;
$orangegood3: #FF8500;
$orangegood4: #FFA039;
$orangegood5: #FFB564;
$littlegrey: #BDBDBD;
$light-cream:#FFF6EC;
