// Define variables for your color scheme

// For example:
$bluegood1: #0A196A;
$bluegood2: #102387;
$blueggod5: #5B6BC3;
$orangegood3: #FF8500;
$orangegood4: #FFA039;
$orangegood5: #FFB564;
$littlegrey: #BDBDBD;
$light-cream:#FFF6EC
