.search_bar {
  background: #ffffff;
  border: 1px solid #BDBDBD;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border-radius: 4px;
  // width: 100%;
  text-align: center;
}

.autocomplete {
  height: fit_content;
  background-color: white;
  position: relative;
  z-index: 1;
  background: #ffffff;
  border: 1px solid #BDBDBD;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border-radius: 4px;
}

.aucomplete:hover {


}
