  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <div class="banner_homepage" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://terrain-basket.fr/wp-content/uploads/elementor/thumbs/Terrain-basket-en-dalle-clipsables-pw1s96h0kg2c31n03isjloar9xiny2n0xg9qn2dieo.jpg);">
        <h1 >Find <strong> playgrounds</strong> and <strong>meet players</strong> easily</h1>
        <div class="container">
          <%= render "playgrounds/search_bar"%>
        </div>
        <h3> Connect, join a session and play.
      </h3>
        <p>  Have fun, do basketball !</p>
      </div>
    </div>
  </div>
