<div class="full-page container error">

  <main>
    <h1>5<span><i class="fa-solid fa-basketball"></i></span>0</h1>
    <p class="my-4">Sorry, you've got lost...it's the wrong playground. 😥</p>
    <p>Go back on the homepage to find a real one ! </p>
  </main>

</div>
