<div class="full-page container error">

  <main>
    <h1>4<span><i class="fa-solid fa-basketball"></i></span>4</h1>
    <p>Sorry, the page you're looking for cannot be accessed</p>
  </main>

</div>
