.card-session {
  background: #FFFFFF;
  border: 0.5px solid #BDBDBD;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border-radius: 4px;

  & h2 {
    color: #102387;
  }

  & p {
    color: #5B6BC3;
  }
}

.card-playground {

}
.playground-picture {
  border: 0.5px solid #BDBDBD;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border-radius: 4px;
  height: 40%;
  width: 100%;
  border-radius: 4px;
  margin-top: 8px;
}
