// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

h1 {
  color: #0A196A;
}

h2 {
  color: #102387;
}

h3 {
  color: #FFA039;
}

p {
  color: #102387;
}

a {
  color: #102387;
}

a:hover {
  color: #FFA039;
}
